body{
    margin: 0;
    

}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Fazendo com que o conteúdo principal ocupe o espaço disponível */
.content-wrap {
    flex: 1;
    padding: 20px; /* Ajuste o padding conforme necessário */
}

/* Estilo básico para o rodapé */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}